flask
flask-cors
flask-jwt-extended
flask-limiter
passlib==1.7.4
bcrypt==4.0.1
beautifulsoup4
pymysql
python-dotenv
pillow
fpdf
gunicorn
requests
cryptography
flask-talisman
bleach
speechrecognition
pydub
pyotp
google-genai
youtube-search-python
httpx==0.27.2
oauthlib